/* Add mobile styles for the component here.  */

.title {
    text-align: center;
    padding-top: 20%;
    padding-bottom: 100%;
    /* background-color: red; */
}

Button {
    margin-bottom: 20;
    background-color: red;
    border-radius: 10;
}