/* Add mobile styles for the component here.  */

.title {
    /* margin-top:100; */
    /* text-align: center; */
    /* padding-top: 20; */
    /* padding-bottom: 20; */
    /* background-color: red; */
    height:30%;
    /* line-height: 100%; */
}

Button {
    /* margin-bottom: 20; */
    background-color: red;
    border-radius: 10;
}

GridLayout{
    height:30%;
}
Label {
    background-color: aqua;
  height: 100%;
  width: 100%;
  text-align: center;
  font-size: 30
}