/* Add mobile styles for the component here.  */

StackLayout {
    background-color: #2196f3;
}

GridLayout {
    height: 40%;
    background-color: #2196f3;
}

Label {
    background-color: #2196f3;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 30;
}

.title {
    /* margin-top:100; */
    /* text-align: center; */
    /* padding-top: 20; */
    /* padding-bottom: 20; */
    /* background-color: red; */
    height: 20%;
    color: white;
    /* line-height: 100%; */
}

.gridBtn {
    /* margin-bottom: 20; */
    margin-top: 10;
    font-size: 20;
    color: white;
    background-color: #0d47a1;
    height: 50;
    border-radius: 30;
}

.loginBtn {
    color: white;
    margin-top: 30;
    font-size: 26;
    background-color: #0d47a1;
    border-radius: 20;
}